<%- include('include/header') %>


    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="slider-1 slider-animate product-wrapper no-arrow">
                        <div>
                            <div class="banner-contain-2 hover-effect">
                                <img src="<%= baseUrl %>/assets/Banner/LOOPBanner.jpg"
                                    class=" rounded-3 blur-up lazyload" alt="" style="width: 100%;">
                                <div
                                    class="banner-detail p-center-right position-relative shop-banner ms-auto banner-small">

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->






    <section class="section-b-space shop-section">
        <div class="container-fluid-lg">

            <div class="title">
                <h2>Categories</h2>
            </div>
            <div class="row">
                <div class="col-12">

                    <div
                        class="row g-sm-4 g-3 row-cols-xxl-5 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-2 product-list-section">
                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/grocery-dry-food.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Vegetable</span> -->


                                        <a href="login" class="href">

                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Grocery Dry Food
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp" data-wow-daley="0.05s">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/beverages.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Vegetable</span> -->


                                        <a href="login" class="href">
                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Beverages
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp" data-wow-daley="0.1s">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/health-care.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Snacks</span> -->



                                        <a href="login" class="href">
                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Health Care
                                            </button>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp" data-wow-daley="0.15s">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/frozen-food.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Snacks</span> -->


                                        <a href="login" class="href">


                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Frozen Food
                                            </button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp" data-wow-daley="0.2s">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/personal-care.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Vegetable</span> -->



                                        <a href="login" class="href">
                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Personal Care
                                            </button>
                                        </a>



                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp" data-wow-daley="0.25s">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="login">
                                            <img src="https://akiproduct.s3.me-central-1.amazonaws.com/product_img/others.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>


                                    </div>
                                </div>

                                <div class="product-footer">
                                    <div class="product-detail">
                                        <!-- <span class="span-name">Vegetable</span> -->




                                        <a href="login/" class="href">

                                            <button
                                                class="btn theme-bg-color mt-sm-4 btn-md mx-auto text-white fw-bold">
                                                Others
                                            </button>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>



    <%- include('include/footer') %>