<%- include('../include/header') %>


    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>User Dashboard</h2>
                        <!-- <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">User Dashboard</li>
                            </ol>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">

                <div class="col-xxl-12 col-lg-12">

                    <div class="dashboard-right-sidebar">
                        <div class="dashboard-home">
                            <div class="title">
                                <h2>LanguageSettings</h2>
                                <span class="title-leaf">

                                </span>
                            </div>



                            <div class="input-box">
                                <form class="row g-4">
                                    <div class="col-md-4 col-12">


                                        <div class="form-floating theme-form-floating">
                                            <select class="form-select" id="floatingSelect1">
                                                <option selected>Your Answer</option>
                                                <option value="kingdom">United Kingdom</option>
                                                <option value="states">United States</option>

                                            </select>
                                            <label for="floatingSelect">Select Language </label>
                                        </div>
                                        <button class="btn btn-animation w-100" type="submit">Save
                                        </button>

                                    </div>


                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- User Dashboard Section Start -->
    <!-- User Dashboard Section End -->






    <%- include('../include/footer.ejs') %>