<%- include('../include/header') %>


    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>User Dashboard</h2>
                        <!-- <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">User Dashboard</li>
                            </ol>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    <section class="user-dashboard-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">


                <% if (errorMessages && errorMessages.length> 0) { %>
                    <% errorMessages.forEach(message=> { %>
                        <div class="alert alert-danger flash-message" role="alert">
                            <%= message %>
                        </div>
                        <% }); %>
                            <% } %>

                                <% if (successMessages && successMessages.length> 0) { %>
                                    <% successMessages.forEach(message=> { %>
                                        <div class="alert alert-success flash-message" role="alert">
                                            <%= message %>
                                        </div>
                                        <% }); %>
                                            <% } %>


                                                <div class="col-xxl-12 col-lg-12">

                                                    <div class="dashboard-right-sidebar">
                                                        <div class="dashboard-home">
                                                            <div class="title">
                                                                <h2>Reset Password</h2>
                                                                <span class="title-leaf">

                                                                </span>
                                                            </div>

                                                            <div class="dashboard-user-name">
                                                                <!-- <h6 class="text-content">Hello, <b
                                                                        class="text-title">Vicki E. Pope</b>
                                                                </h6> -->

                                                            </div>

                                                            <div class="input-box">
                                                                <form action="ResetPassword"
                                                                    class="row g-4 requires-validation" method="post"
                                                                    novalidate>
                                                                    <div class="col-12">
                                                                        <div class="col-md-6 mt-2 ">
                                                                            <label for=" Password">Enter Old
                                                                                Password</label>
                                                                            <input type="text" name="oldPassword"
                                                                                class="form-control" id="Password "
                                                                                required>
                                                                        </div>
                                                                        <div class="col-md-6 mt-2 ">
                                                                            <label for="New">Enter New Password</label>
                                                                            <input type="text" name="newPassword"
                                                                                class="form-control" id="New" required>

                                                                        </div>

                                                                        <div class="col-md-6  mt-2">
                                                                            <label for="Confirm">Enter Confirm
                                                                                Password</label>
                                                                            <input type="text" name="Confirm_Password"
                                                                                class="form-control" id="Password"
                                                                                required>

                                                                        </div>

                                                                        <div class="col-md-6  mt-2">
                                                                            <button class="btn btn-animation w-100"
                                                                                type="submit">Save</button>
                                                                        </div>

                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
            </div>
        </div>
    </section>

    <!-- User Dashboard Section Start -->
    <!-- User Dashboard Section End -->






    <%- include('../include/footer.ejs') %>